.container{
    margin-top: 12em;
}
.heading{
    color: #F9827D;
    font-size: 3em;
}

.input{
    padding: 1.5em;
    outline: none;
    border: none;
    width: 100%;
}
.group{
    width: 30%;
}
.button{
    background: #F9827D;
    padding: 1.5em;
    outline: none;
    border: none;
    width: 100%;
}